* {
  box-sizing: border-box;
  /*faz com que a largura e altura de um elemento incluam o preenchimento (padding) e a borda (border) no cálculo, resultando em um layout mais previsível*/
}

body {
  background-color: rgb(236, 235, 235);
  /*cor do fundo*/
}

body img {
  display: flex;
}

.lista {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  padding: 30px;
  gap: 2rem; 
  justify-items: center; 
}

.logo {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.audio {
  display: flex;
  justify-content: center;
}

.video{
  display: flex;
  justify-content: center;
}