h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
}

.card {
  font-family: sans-serif;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 10px;
  text-align: center;
  width: 100%; 
  max-width: 300px; 
  padding: 10px;
  box-shadow: 5px 6px 0 rgba(216, 216, 216, 0.582);
}


.card img {
  width: 100%;/* largura de 100% da imagem*/
  border-radius: 8px;/* Cantos arredondados */
}

.card:hover {
  box-shadow: 5px 6px 0 #000
}

.card.planta-venenoso,
.card.planta-venenoso h3 {
  background: #7b2a9b;
  background: linear-gradient(90deg, #7b2a9b 0%, #57c785 50%);
  color: #1b5e20;
}

.card.fogo,
.card.fogo h3 {
  background-color: #ffccbc;
  color: #d84315;
}

.card.fogo-voador,
.card.fogo-voador h3 {
  background: #ff7043;
  background: linear-gradient(90deg, #ff7043 0%, #81d4fa 50%);
  color: #3e2723;
}

.card.agua,
.card.agua h3 {
  background-color: #bbdefb;
  color: #0d47a1;
}

.card.inseto,
.card.inseto h3 {
  background-color: #c5e1a5;
  color: #33691e;
}

.card.inseto-voador,
.card.inseto-voador h3 {
  background: #aed581;
  background: linear-gradient(90deg, #aed581 0%, #b2ebf2 50%);
  color: #004d40;
}

.card.inseto-venenoso,
.card.inseto-venenoso h3 {
  background: #c5e1a5;
  background: linear-gradient(90deg, #c5e1a5 0%, #ce93d8 50%);
  color: #4a148c;
}

.card.normal-voador,
.card.normal-voador h3 {
  background: #eeeeee;
  background: linear-gradient(90deg, #eeeeee 0%, #b2ebf2 50%);
  color: #263238;
}

.card.normal,
.card.normal h3 {
  background-color: #e0e0e0;
  color: #424242;
}

.card.venenoso,
.card.venenoso h3 {
  background-color: #e1bee7;
  color: #4a148c;
}

.card.eletrico,
.card.eletrico h3 {
  background-color: #fff59d;
  color: #fbc02d;
}

.card.terrestre,
.card.terrestre h3 {
  background-color: #d7ccc8;
  color: #3e2723;
}

.card.venenoso-terrestre,
.card.venenoso-terrestre h3 {
  background: #e1bee7;
  background: linear-gradient(90deg, #e1bee7 0%, #bcaaa4 50%);
  color: #311b92;
}

.card.fada,
.card.fada h3 {
  background-color: #f8bbd0;
  color: #ad1457;
}

.card.normal-fada,
.card.normal-fada h3 {
  background: #f3e5f5;
  background: linear-gradient(90deg, #f3e5f5 0%, #f8bbd0 50%);
  color: #6a1b9a;
}

.card.venenoso-voador,
.card.venenoso-voador h3 {
  background: #ce93d8;
  background: linear-gradient(90deg, #ce93d8 0%, #b2ebf2 50%);
  color: #1a237e;
}

.card.inseto-planta,
.card.inseto-planta h3 {
  background: #c5e1a5;
  background: linear-gradient(90deg, #c5e1a5 0%, #81c784 50%);
  color: #33691e;
}

.card.lutador,
.card.lutador h3 {
  background-color: #ef9a9a;
  color: #b71c1c;
}

.card.agua-lutador,
.card.agua-lutador h3 {
  background: #bbdefb;
  background: linear-gradient(90deg, #bbdefb 0%, #ef9a9a 50%);
  color: #0d47a1;
}

.card.psiquico,
.card.psiquico h3 {
  background-color: #f48fb1;
  color: #880e4f;
}

.card.agua-venenoso,
.card.agua-venenoso h3 {
  background: #bbdefb;
  background: linear-gradient(90deg, #bbdefb 0%, #e1bee7 50%);
  color: #1a237e;
}

.card.pedra-terrestre,
.card.pedra-terrestre h3 {
  background: #d7ccc8;
  background: linear-gradient(90deg, #d7ccc8 0%, #bcaaa4 50%);
  color: #3e2723;
}

.card.agua-psiquico,
.card.agua-psiquico h3 {
  background: #bbdefb;
  background: linear-gradient(90deg, #bbdefb 0%, #f48fb1 50%);
  color: #0d47a1;
}

.card.eletrico-metalico,
.card.eletrico-metalico h3 {
  background: #fff59d;
  background: linear-gradient(90deg, #fff59d 0%, #cfd8dc 50%);
  color: #37474f;
}

.card.agua-gelo,
.card.agua-gelo h3 {
  background: #bbdefb;
  background: linear-gradient(90deg, #bbdefb 0%, #b3e5fc 50%);
  color: #006064;
}

.card.fantasma-venenoso,
.card.fantasma-venenoso h3 {
  background: #ce93d8;
  background: linear-gradient(90deg, #ce93d8 0%, #e1bee7 50%);
  color: #4a148c;
}

.card.planta-psiquico,
.card.planta-psiquico h3 {
  background: #a5d6a7;
  background: linear-gradient(90deg, #a5d6a7 0%, #f48fb1 50%);
  color: #1b5e20;
}

.card.terrestre-pedra,
.card.terrestre-pedra h3 {
  background: #bcaaa4;
  background: linear-gradient(90deg, #bcaaa4 0%, #d7ccc8 50%);
  color: #263238;
}

.card.gelo-psiquico,
.card.gelo-psiquico h3 {
  background: #b3e5fc;
  background: linear-gradient(90deg, #b3e5fc 0%, #f48fb1 50%);
  color: #006064;
}

.card.agua-voador,
.card.agua-voador h3 {
  background: #bbdefb;
  background: linear-gradient(90deg, #bbdefb 0%, #b2ebf2 50%);
  color: #01579b;
}

.card.pedra-agua,
.card.pedra-agua h3 {
  background: #bcaaa4;
  background: linear-gradient(90deg, #bcaaa4 0%, #bbdefb 50%);
  color: #37474f;
}

.card.pedra-voador,
.card.pedra-voador h3 {
  background: #bcaaa4;
  background: linear-gradient(90deg, #bcaaa4 0%, #b2ebf2 50%);
  color: #3e2723;
}

.card.gelo-voador,
.card.gelo-voador h3 {
  background: #b3e5fc;
  background: linear-gradient(90deg, #b3e5fc 0%, #b2ebf2 50%);
  color: #01579b;
}

.card.eletrico-voador,
.card.eletrico-voador h3 {
  background: #fff59d;
  background: linear-gradient(90deg, #fff59d 0%, #b2ebf2 50%);
  color: #f57f17;
}

.card.dragao,
.card.dragao h3 {
  background-color: #9fa8da;
  color: #1a237e;
}

.card.dragao-voador,
.card.dragao-voador h3 {
  background: #9fa8da;
  background: linear-gradient(90deg, #9fa8da 0%, #b2ebf2 50%);
  color: #0d47a1;
}

.card.psiquico-fada,
.card.psiquico-fada h3 {
  background: #f48fb1;
  background: linear-gradient(90deg, #f48fb1 0%, #f8bbd0 50%);
  color: #6a1b9a;
}

.card.planta-venenoso h2,
.card.fogo h2,
.card.fogo-voador h2,
.card.agua h2,
.card.inseto h2,
.card.inseto-voador h2,
.card.inseto-venenoso h2,
.card.normal-voador h2,
.card.normal h2,
.card.venenoso h2,
.card.eletrico h2,
.card.terrestre h2,
.card.venenoso-terrestre h2,
.card.fada h2,
.card.normal-fada h2,
.card.venenoso-voador h2,
.card.inseto-planta h2,
.card.lutador h2,
.card.agua-lutador h2,
.card.psiquico h2,
.card.agua-venenoso h2,
.card.pedra-terrestre h2,
.card.agua-psiquico h2,
.card.eletrico-metalico h2,
.card.agua-gelo h2,
.card.fantasma-venenoso h2,
.card.planta-psiquico h2,
.card.terrestre-pedra h2,
.card.gelo-psiquico h2,
.card.agua-voador h2,
.card.pedra-agua h2,
.card.pedra-voador h2,
.card.gelo-voador h2,
.card.eletrico-voador h2,
.card.dragao h2,
.card.dragao-voador h2,
.card.psiquico-fada h2 {
  color: #fff;
  font-size: small;
  text-shadow: 2px 2px 4px #000000;
  
}

